<div class="container-fluid ">

    <div class="container my-5">
  
       <div class="row">
  
        <div class="left-card col-lg-6  px-0 text-center">
  
          <div class="logo">
            <img class="image-fluid " src="assets/—Pngtree—cartoon flame logo design free_2951394.png">
            <h5>sonic<span>Softwares</span></h5>
          </div>
  
            <h1> Welcome back!</h1>
            
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/o42ass2d8dr9pvb2nibbpb8kdv.png" class="anime" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/skill-interpersonal-relationship-management-presentation-clip-art-team-be4f73afcf515b0e7c0589b315bf94da.png" style="width:53.3%;background-position: center"  alt="...">
                </div>
              </div>
            </div>

            <h1 class="VB mt-3">Meet our visual buildersgenerate component</h1>
            <h2 class="Message mt-4 mb-3">We help in building Variety of softwares that will help our clients to easily marnage and grow their buisness</h2>
  
        </div>
  
        <div class="Right-card col-lg-6 px-0 text-center">
  
          <div class="login mt-5">
  
            <h1 class="mt-5 me-2">Sign In</h1>
  
             <form (ngSubmit)="onSubmit()">
  
                  <div class="form-group mt-4 mx-5 text-start">
                    <span class="ms-2 ps-2 mt-1 pt-1"><i class="bi bi-person-circle me-4"></i></span>
                    <input
                    type="text"
                    placeholder="First name"
                    formControlName="firstName"
                    class="form-control ps-5"
                    />
                   
                  </div>

                  <div class="form-group mt-4 mx-5 text-start">
                    <span class="ms-2 ps-2 mt-1 pt-1"><i class="bi bi-person-circle me-4"></i></span>
                    <input
                    type="text"
                    placeholder="last name"
                    class="form-control ps-5"
                    formControlName="Surname"
                    />
                  </div>
  
                  <div class="form-group mt-4 mx-5 text-start">
                    <span class="ms-2 ps-2 mt-1 pt-1"><i class="bi bi-envelope-at-fill me-4"></i></span>
                    <input
                    type="text"
                    placeholder="Email"
                    class="form-control ps-5"
                    formControlName="email"
                    />

                  </div>

                  <div class="form-group mt-4 mx-5 text-start">
                    <span class="ms-2 ps-2 mt-1 pt-1"><i class="bi bi-telephone me-4"></i></span>
                    <input
                    type="text"
                    placeholder="Contacts"
                    formControlName="contact"
                    class="form-control ps-5"
                    />

                  </div>

                  <div class="form-group-2 ms-2 col-md-12 mt-3 text-center">

                    <input class="ms-3" 
                    type="radio" 
                    id="male" 
                    value="male"
                    formControlName = "gender"
                    />
     
                    <label class="ms-2"for="Male">Male:</label>
     
                    <input class="ms-3"
                    type="radio" 
                    id="female" 
                    value="female"
                    formControlName = "gender"
                    />
     
                    <label class="ms-2"for="Female">Female:</label>
                    <input class="ms-3"
                    type="radio" 
                    id="other" 
                    value="other"
                    formControlName = "gender"
                    />
     
                    <label class="ms-2"for="Other">Other:</label>

               </div>

            
                  <div class="text-center mt-3 mb-2 ">
                    <button 
                    type="submit" 
                    class="btn btn-primary ">
                    SUBMIT</button>
                </div>
  
             </form>
  
             <div>
              <h1 class="DHA mt-3 mb-5"> have an account? <a href="#">Log in</a></h1>
            </div>
  
          </div>
        </div>
       </div>
    </div>
  </div>