<div class="container-fluid px-0">

    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
      <h5 class="mb-0 px-2 pb-2 px-1" routerLink=" ">sonic<span>Softwares</span></h5>
      <button class="navbar-toggler me-2 p-0" style="border: none;outline:none"  type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end  ms-lg-5" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
        <div class="offcanvas-header">
          <h5 class="">sonic<span>Softwares</span></h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mb-2 mb-lg-0 pb-lg-2">
            <li class="nav-item ">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Testimonies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact us</a>
            </li>
            <li class="nav-item mb-2">
            <button class="btn d-lg-none d-block p-0 pb-0" routerLink="/registration" type="button">Log In</button>
            <button class="btn d-lg-none d-block p-0"  routerLink="/sign-up" type="button">Sign Up</button>
            </li> 
          </ul>
          <form class="d-flex d-none d-lg-block">
            <button class="btn btn-light me-2 btn-md fw-bold"  routerLink="" type="button">Log In</button>
            <button class="btn btn-danger me-2 btn-md fw-bold"  routerLink="/sign-up"style="background-color:#FB59C7;border-color:#FB59C7"type="button">Sign Up</button>
          </form>
        </div>
        
      </div>
    </nav>
    <div class="container-hero text-white text-center shadow">
  
      <div class="pt-5 pb-5 hb-45 ">
      <h1 class="fw-bold">Helping You Reach Your</h1>
      <h1 class="fs-4 mb-0 text-white-60">True Potential </h1>
      
      </div>
  
  </div>
  
  <div class="creatives text-center mb-5">
  
    <h1 class="pt-5 pb-5">WELCOME TO OUR AUTOMATED WORLD</h1>
    <div class="badge-container pt-5 pb-5">
    <span class="badge shadow" style="background-color:#FB59C7">DIGITAL</span>
    <span class="badge shadow" style="background-color:#255EEA">DEVELOPEMNT</span>
    <span class="badge shadow" style="background-color:#EFF11D">OPERATIONS</span>
    <span class="badge shadow" style="background-color:#F11D33">CONSULTING</span>
  </div>
      
  </div>  
  
  <div class="testimony mt-5 text-center">
  
  <h1>What People Say About Us</h1>
  
   <div class="row">
  
      <div class="col-md-4 col-6">
        <div class="card mt-5" style="border:none ">
            <img src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80" class="img1 card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Our revenue has grown 10% up since i started consulting and working with the SonicSoftwares .</p>
            </div>
        </div>
     </div>
     <div class="col-md-4 offset-md-4 col-6 px-0">
      <div class="card mt-5" style="border:none ">
          <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" class="img1 card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">SonicSoftwares are professionals, and they ensure that their clients are well taken cared of .</p>
          </div>
         </div>
       </div>
    </div>
  
    <div class="row">
      <div class="col-md-4 offset-md-4 d-none d-lg-block">
        <div class="card mt-5" style="border:none ">
          <img src="https://images.unsplash.com/photo-1575089976121-8ed7b2a54265?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Y29kaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="img2 card-img-top shadow" alt="...">
         </div>
      </div>
    </div>
  
    <div class="row text-center mb-4">
  
      <div class="col-md-4 col-6">
        <div class="card " style="border:none ">
            <img src="https://images.unsplash.com/photo-1474176857210-7287d38d27c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="img1 card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">SonicSoftwares provided the best digital solution to our company and i can recommend anyone to consult and check them.</p>
            </div>
        </div>
     </div>
     <div class="col-md-4  offset-md-4 col-6">
      <div class="card " style="border:none ">
          <img src="https://images.unsplash.com/photo-1522529599102-193c0d76b5b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="img1 card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">All i can say is that the guys are the best team i've ever worked with in my entire live.</p>
          </div>
         </div>
       </div>
    </div>
  </div>
  
      <div class="about-us mb-5 shadow">
  
        <div class="row text-center">
  
          <h1 class="mb-5 mt-5">About Us </h1>
            <div class="col-lg-6 bg-body-tertiary">
  
              <img class="img-fluid w-75 mb-4 shadow" src="https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80">
              
            </div>
            <div class="col-lg-6">
              <h5 class="text-lg-start mb-3" style="color:#52FA8F">WHAT WE ARE ABOUT</h5>
              <p class="text-lg-start fs-5 text-break">SonicSoftwares is a 100% mult racial Software Development Company, based in South Africa. The company was founded with a vision to bring inspiration and innovation that will transform how organizations attract, engage and delight their customers. Our core purpose is expressed in each of the outstanding services we offer our clients and in-house software digital products that we invent.
              </p>
              
            </div>
        </div>
      </div>
  
      <div id="carouselExampleDark" class="carousel carousel-dark slide text-center mt-5 " data-bs-ride="carousel">
  
        <h1 class="mt-5 fs-2 fw-bold">OUR CUSTOMERS</h1>
       
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          
        </div>
        <div class="carousel-inner text-center mt-5 mb-5">
          <div class="carousel-item active mt-5 mb-3">
            <img src="assets/clipart1891721.png" class="item d-inline mx-5 mb-5" alt="...">
            <img src="assets/clipart850390 (1).png" class="item d-inline mx-5 mb-5" alt="...">
            <img src="assets/clipart2094440.png" class="item d-inline mx-5 mb-5" alt="...">
            <img src="assets/clipart4161365.png" class="item d-inline mx-5 mb-5" alt="...">
            <img src="assets/clipart2870405.png" class="item d-inline mx-5 mb-5" alt="...">
          </div>
          <div class="carousel-item mt-5 mb-3">
            <img src="assets/clipart2056537.png" class="item d-inline mx-5 mb-5" alt="...">
            <img src="assets/clipart2911468.png" class="item d-inline mx-5 mb-5" alt="...">
            <img src="assets/clipart2325706.png" class="item d-inline mx-5 mb-5" alt="...">
            <img src="assets/clipart1979228.png" class="item d-inline mx-5 mb-5" alt="...">
            <img src="assets/clipart2706356.png" class="item d-inline mx-5 mb-5" alt="...">
          </div> 
        </div>
        
      </div>
  </div>
  
  <div class="mission text- pt-5 pb-4">
  
    <div class="card-group">
      <div class="card-2 mt-4 mb-4" style="border:none">
        <div class="numbering bg-primary text-wrap text-center mt-2">
          <h1 class="text-white">1</h1>
        </div>
        <div class="card-body mt-2">
          <h5 class="card-title fw-bold">Our Vision</h5>
          <p class="card-text">To bring INSPIRATION and INNOVATION which will transform how organizations attract, engage and delight their customers through technology.</p>
        </div>
      </div>
      <div class="card-2 mt-4 mb-4" style="border:none">
        <div class="numbering bg-primary text-wrap text-center mt-2">
          <h1 class="text-white">2</h1>
        </div>
        <div class="card-body mt-2">
          <h5 class="card-title fw-bold">Our Mission</h5>
          <p class="card-text px-2">To innovate, create and deliver unique technology solutions and constantly prioritize the needs of our customers.</p>
        </div>
      </div>
      <div class="card-2 mt-4 mb-4" style="border:none">
        <div class="numbering bg-primary text-wrap text-center mt-2">
          <h1 class="text-white">3</h1>
        </div>
        <div class="card-body mt-2">
          <h5 class="card-title fw-bold">Our Values</h5>
          <p class="card-text">Innovation
            Excellency &Customer Satisfaction
            Diversity • Accountability
            Integrity • Honesty</p>
        </div>
      </div>
      <div class="card-2 mt-4 mb-4" style="border:none">
        <div class="numbering bg-primary text-wrap text-center mt-2">
          <h1 class="text-white">4</h1>
        </div>
        <div class="card-body mt-2">
          <h5 class="card-title fw-bold">Our Culture</h5>
          <p class="card-text">Embracing the best of each other | Promoting diversity and inclusion | We act with integrity and treat everyone with dignity & respect | We pursue innovative solutions for our clients</p>
        </div>
      </div>
    </div>
  
  </div>
  
  <div class="footer-1 mt-5 pt-5 pb-3">
  
    <div class="container-footer mt-5 text-lg-start mx-5">
  
      <div class="row ">
        <div class="col-lg-4 mb-4">
          <h4>OUR SERVICES</h4>
          <i class="bi bi-arrow-right d-block "><a href="#" class="p-2 icon-link-hover">Digital</a></i>
          <i class="bi bi-arrow-right d-block"><a href="#" class="p-2">Software Development</a></i>
          <i class="bi bi-arrow-right d-block"><a href="#" class="p-2">Operations</a></i>
          <i class="bi bi-arrow-right d-block"><a href="#" class="p-2">Consulting</a></i>
          <i class="bi bi-arrow-right d-block"><a href="#" class="p-2">Creatives</a></i>
        </div>
        <div class="col-lg-4 mb-4">
          <h4>QUICK LINKS</h4>
          <i class="bi bi-arrow-right d-block"><a href="#" class="p-2">Home</a></i>
          <i class="bi bi-arrow-right d-block"><a href="#" class="p-2">About Us</a></i>
          <i class="bi bi-arrow-right d-block"><a href="#" class="p-2">Contact Us</a></i>
        </div>
        <div class="col-lg-4 mb-5">
          <h4>GET IN TOUCH</h4>
          <h6 class="text-break">Minnar St,
          Pretoria Central</h6>
          <h6> Email: macdonaldmolete@gmail.com</h6>
          <h6>Phone: 065 127 7013</h6>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer pt-4">
  
    <div class="since text-center">
       <i class="bi bi-c-circle"><h6>established in 2023</h6></i>
    </div>
  
  </footer>